#root {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50%;
}

.block {
  height: 100px;
}