/*#root {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
}
*/
form {
  margin-left: auto;
  margin-right:auto;
}

* {
	box-sizing: border-box;
}
td{
  text-align: left;
  padding:3px;
}


button {
  font-size: 30px;
  text-align:center;
  padding:30px;
  margin:5px;
  width:25%;
  /*background-color: white;*/
  transition:0.3s;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}
button:hover{
  background-color: rgb(237, 196, 196);  
  box-shadow: 0px 0px 3px lightblue;

}
input {
  margin:5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
}

input[type=text],input[type=number],input[type=password]{
  
}

button[type=submit]{
  padding:10px;
}

button[type=submit]:hover{
  background-color: rgb(201, 217, 232);
}
a:link{
	text-decoration:none;
	color:white;
}
a:visited{
	color:white;
}
a:hover{
	text-decoration:none;
	color:rgb(203, 214, 231);
	
}
a:active{
	color:rgb(0,0,0);
}