/*#root {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
}
*/
html{
  height:100%
}
body{
  height:100%;
  font-size:16px;
}
label{
  font-size: 20px;
}
form {
  margin-left: auto;
  margin-right:auto;
}

* {
	box-sizing: border-box;
}
td{
  text-align: left;
  padding:3px;
}


button {
  font-size: 30px;
  text-align:center;
  padding:20px;
  margin:5px;
  width:25%;
  height:70px;
  /*background-color: white;*/
  transition:0.3s;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}
button:hover{
  background-color: rgb(237, 196, 196);  
  box-shadow: 0px 0px 3px lightblue;

}
input {
  margin:10px;
  border: 1px solid black;
  padding: 10px;
  font-size: 25px;
  border-radius: 5px;
}
input[type=text], input[type=password], input[type=number]{
  width:20%
}

input:focus{
  border: 1px solid rgb(0,153,77);
} 

button[type=submit]{
  padding:10px;
}

button[type=submit]:hover{
  background-color: rgb(201, 217, 232);
}
a:link{
	text-decoration:none;
	color:white;
}
a:visited{
	color:white;
}
a:hover{
	text-decoration:none;
	color:rgb(203, 214, 231);
	
}
a:active{
	color:rgb(0,0,0);
}

.homeButton{
position:absolute;
right:10px;
bottom:10px;
width:150px;
height:50px;
padding:10px;
font-size:15px
}

table .history{ 
	margin:auto;
	margin-top:10px;
	margin-top:10px;
  border-collapse:collapse;	
  font-size:20px;
}
tr .history{
	border-bottom: 1px solid rgb(200,200,200);
}
tr:last-child .history{
 	border-bottom: 0;
}
th,td .history{
	font-size:0.9em;
	padding:5px 5px;
	text-align:left;
}
